<h5> Kiralama Listesi </h5>


<table class=table>
  
        <thead>

            <tr>    
                <th>id </th>

                <th> marka id </th>
                <th> renk id </th>
                <th> araba adı </th>
                <th> model yılı</th>
                <th> günlük ücret </th>
                <th> açıklama </th>
            </tr>

        </thead>

  <tr *ngFor="let rental of rentals">
        

        <td>{{rental.id}} </td>
        <td> {{rental.brandName}} </td>
        <td> {{rental.colorName}} </td>
        <td> {{rental.carName}} </td>
        <td> {{rental.modelYear}} </td>
        <td> {{rental.dailyPrice}} </td>


    </tr>

</table>