<h5> Araç Listesi </h5>
<div *ngIf="dataLoaded==false" class="spinner-border text-dark" role="status">
    <span class="visually-hidden"></span>
  </div>

<table class=table>
  
        <thead>

            <tr>    
                <th>id </th>

                <th> marka id </th>
                <th> renk id </th>
                <th> araba adı </th>
                <th> model yılı</th>
                <th> günlük ücret </th>
                <th> açıklama </th>
            </tr>

        </thead>

  <tr *ngFor="let car of cardto">
        

        <td>{{car.id}} </td>

        <td> {{car.brandName}} </td>
        <td> {{car.colorName}} </td>
        <td> {{car.carName}} </td>
        <td> {{car.modelYear}} </td>
        <td> {{car.dailyPrice}} </td>
        <td> {{car.description}} </td>

    </tr>

</table>